#bodybox1 {
    margin: auto;
    max-width: 550px;
    font: 15px arial, sans-serif;


    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;

    border-radius: 15px;
}