.card
  .apple-stuff
    i.fa.fa-wifi
     .date
        |12:00 AM
    i.fa.fa-battery-3.battery
  .picture-section
    h3
      | Now Playing
    .band
      .overlay
  .slider
  .time
    //- .start
    //-   |0.00
    //- .end
    //-   | 3.35
  .song-title
    .artist
      |Phish
    .song
      |Suzy Greenberg
  .playlist-controls
    .circle
    //- i.fa.fa-backward#backward
    .play-song
      i.fa.fa-play#play
    //- i.fa.fa-forward#forward
  .song-list
    .line
    .line.two
    .line.three
    .line.four
    table
      tr#billy(data-title="billyBreathes")
        td.num 1
        td.title Billy Breathes
        td.length 3:00
      
      tr#hood(data-title="harryHood")
        td.num 2
        td.title Harry Hood
        td.length 2:54
      
      tr#suzy(data-title="suzyGreenberg")
        td.num 3
        td.title Suzy Greenberg
        td.length 2:54
      
      tr#divided(data-title="themeFromTheBottom")
        td.num 4
        td.title Theme From The Bottom
        td.length 2:54
    .social
      a(href="https://twitter.com/McGreenBeats" target="_blank")
       i.fa.fa-twitter
      a(href="https://www.linkedin.com/in/mattcgreenberg" target="_blank")
       i.fa.fa-linkedin
      a(href="http://codepen.io/mattgreenberg/" target="_blank")
       i.fa.fa-codepen   
  .volume
    i.fa.fa-volume-off#volume-off
    i.fa.fa-volume-up#volume-up
    .slider-volume
  .slide-up
    i.fa.fa-chevron-up

  
  